#content {
  background-color: black;
  opacity: 0.7;
  height: 80%;
  border-radius: 5px 5px 5px 5px;
}
#content #home-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#content #home-grid .band-img {
  display: flex;
  width: 14%;
  height: 100%;
}
#content #home-grid #column-align {
  display: flex;
  flex-direction: row;
  height: 95%;
  width: 100%;
  justify-content: space-evenly;
}
#content #home-grid #column-align #section-1 {
  display: flex;
  justify-content: space-evenly;
  width: 34.5%;
}
#content #home-grid #column-align #section-1 .photo-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}
#content #home-grid #column-align #section-1 .photo-column .photo-column-img {
  display: flex;
  height: 48.5%;
  width: 97%;
}
#content #home-grid #column-align #section-1 .photo-column .photo-column-img img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
}
#content #home-grid #column-align #section-1 .long-photo-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}
#content #home-grid #column-align #section-1 .long-photo-column .long-photo-column-img {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: right;
}
#content #home-grid #column-align #section-1 .long-photo-column .long-photo-column-img img {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}
#content #home-grid #column-align #section-1 .long-photo-column .long-photo-column-img-sm {
  display: flex;
  width: 100%;
  height: 38%;
}
#content #home-grid #column-align #section-1 .long-photo-column .long-photo-column-img-sm img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
}
#content #home-grid #column-align #main-photo {
  display: flex;
  width: 28%;
  height: 100%;
}
#content #home-grid #column-align #main-photo img {
  display: flex;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}
#content #home-grid #column-align #section-2 {
  display: flex;
  width: 34.5%;
  flex-direction: column;
}
#content #home-grid #column-align #section-2 .photo-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
#content #home-grid #column-align #section-2 .photo-row .photo-row-img {
  display: flex;
  width: 49%;
}
#content #home-grid #column-align #section-2 .photo-row .photo-row-img img {
  display: flex;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}
#content #home-grid #column-align #section-2 .long-photo-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
#content #home-grid #column-align #section-2 .long-photo-row .long-photo-row-img {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: end;
}
#content #home-grid #column-align #section-2 .long-photo-row .long-photo-row-img img {
  display: flex;
  width: 100%;
  height: 97%;
  border-radius: 10px 10px 10px 10px;
}
#content #home-grid #column-align #section-2 .long-photo-row .long-photo-row-img-sm {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 100%;
  justify-content: end;
}
#content #home-grid #column-align #section-2 .long-photo-row .long-photo-row-img-sm img {
  display: flex;
  width: 100%;
  height: 97%;
  border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width: 768px) {
  #content {
    display: flex;
    flex-direction: column;
    height: 85%;
    row-gap: 1%;
  }
  #content #home-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
  }
  #content #home-grid #column-align {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
  }
  #content #home-grid #column-align #section-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 23%;
    justify-content: center;
    flex-wrap: wrap;
    order: 1;
  }
  #content #home-grid #column-align #section-1 .photo-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    height: 95%;
  }
  #content #home-grid #column-align #section-1 .photo-column .photo-column-img {
    border-radius: 10px 10px 10px 10px;
    display: flex;
    width: 49%;
    height: 100%;
  }
  #content #home-grid #column-align #section-1 .long-photo-column {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 0%;
    border: 2px solid green;
  }
  #content #home-grid #column-align #section-1 .long-photo-column .long-photo-column-img {
    display: flex;
    width: 48%;
    height: 100%;
  }
  #content #home-grid #column-align #section-1 .long-photo-column .long-photo-column-img-sm {
    display: flex;
    width: 48%;
    height: 100%;
  }
  #content #home-grid #column-align #main-photo {
    display: flex;
    height: 50%;
    width: 100%;
    border-radius: 10x 10px 10px 10px;
    justify-content: center;
    flex-direction: row;
    order: 2;
  }
  #content #home-grid #column-align #main-photo img {
    height: 100%;
    width: 95%;
  }
  #content #home-grid #column-align #section-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 23%;
    width: 100%;
    order: 3;
  }
  #content #home-grid #column-align #section-2 .photo-row {
    display: flex;
    width: 95%;
    height: 100%;
  }
  #content #home-grid #column-align #section-2 .photo-row .photo-row-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 49%;
    height: 100%;
  }
  #content #home-grid #column-align #section-2 .photo-row .photo-row-img img {
    display: flex;
    width: 100%;
    height: 95%;
  }
  #content #home-grid #column-align #section-2 .long-photo-row {
    display: none;
    width: 100%;
    justify-content: space-around;
  }
  #content #home-grid #column-align #section-2 .long-photo-row .long-photo-row-img {
    display: flex;
    width: 78%;
  }
  #content #home-grid #column-align #section-2 .long-photo-row .long-photo-row-img-sm {
    display: flex;
    width: 20%;
  }
}