@font-face {
    font-family: "inder";
    src: url("../../assets/fonts/Inder-Regular.ttf")
}

#main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:75%;
    width: 100%;

 
}


@media screen and (max-width: 768px) {
    #main-content{
        display: flex;
        margin-top:2%;
        flex-direction: column;
        justify-content: center;
        height:85%;
        width: 100%;
        justify-content: space-around;


        // #content{
        //     display: flex;
        //     flex-direction: column;
        //     height:85%;
        //     border-radius:10px 10px 10px 10px;
        //     row-gap: 1%;

        //     // .menu-option{
        //     //     display: flex;
        //     //     height: 10%;
        //     //     width: 100%;
        //     //     justify-content: center;
        //     //     border:solid red 2px;
        //     //     color:white;
        //     //     font-family: "inder";
        //     // }
     //   }
    }
}