@font-face {
    font-family: "inder";
    src: url("../../assets/fonts/Inder-Regular.ttf")
}

#main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:75%;
    width: 100%;

 
}


@media screen and (max-width: 768px) {
    #main-content{
        display: flex;
        // margin-top:2%;
        flex-direction: column;
        justify-content: center;
        height:85%;
        justify-content: center;

        #content{
            margin-top:5%;
            // transition: opacity 2s ease;
        }
    }
}