#home-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#home-grid .band-img {
  display: flex;
  width: 14%;
  height: 100%;
}
#home-grid #column-align {
  display: flex;
  flex-direction: row;
  height: 95%;
  width: 100%;
  justify-content: space-evenly;
}
#home-grid #column-align #section-1 {
  display: flex;
  justify-content: space-evenly;
  width: 34.5%;
}
#home-grid #column-align #section-1 .photo-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}
#home-grid #column-align #section-1 .photo-column .photo-column-img {
  display: flex;
  height: 48.5%;
  width: 97%;
}
#home-grid #column-align #section-1 .photo-column .photo-column-img img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
}
#home-grid #column-align #section-1 .long-photo-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}
#home-grid #column-align #section-1 .long-photo-column .long-photo-column-img {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: right;
}
#home-grid #column-align #section-1 .long-photo-column .long-photo-column-img img {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}
#home-grid #column-align #section-1 .long-photo-column .long-photo-column-img-sm {
  display: flex;
  width: 100%;
  height: 38%;
}
#home-grid #column-align #section-1 .long-photo-column .long-photo-column-img-sm img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 10px 10px;
}
#home-grid #column-align #main-photo {
  display: flex;
  width: 28%;
  height: 100%;
}
#home-grid #column-align #main-photo img {
  display: flex;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}
#home-grid #column-align #section-2 {
  display: flex;
  width: 34.5%;
  flex-direction: column;
}
#home-grid #column-align #section-2 .photo-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
#home-grid #column-align #section-2 .photo-row .photo-row-img {
  display: flex;
  width: 49%;
}
#home-grid #column-align #section-2 .photo-row .photo-row-img img {
  display: flex;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}
#home-grid #column-align #section-2 .long-photo-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}
#home-grid #column-align #section-2 .long-photo-row .long-photo-row-img {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: end;
}
#home-grid #column-align #section-2 .long-photo-row .long-photo-row-img img {
  display: flex;
  width: 100%;
  height: 97%;
  border-radius: 10px 10px 10px 10px;
}
#home-grid #column-align #section-2 .long-photo-row .long-photo-row-img-sm {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 100%;
  justify-content: end;
}
#home-grid #column-align #section-2 .long-photo-row .long-photo-row-img-sm img {
  display: flex;
  width: 100%;
  height: 97%;
  border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width: 768px) {
  #home-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  #home-grid #column-align {
    display: flex;
    flex-direction: column;
    height: 99%;
    width: 100%;
    justify-content: space-around;
    overflow: scroll;
  }
  #home-grid #column-align #section-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 33%;
  }
  #home-grid #column-align #section-1 .photo-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 50%;
  }
  #home-grid #column-align #section-1 .photo-column .photo-column-img {
    border-radius: 10px 10px 10px 10px;
    display: flex;
    width: 49%;
    height: 98%;
  }
  #home-grid #column-align #section-1 .long-photo-column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 50%;
  }
  #home-grid #column-align #section-1 .long-photo-column .long-photo-column-img {
    display: flex;
    width: 29%;
    height: 98%;
  }
  #home-grid #column-align #section-1 .long-photo-column .long-photo-column-img-sm {
    display: flex;
    width: 69%;
    height: 98%;
  }
  #home-grid #column-align #main-photo {
    display: flex;
    height: 33%;
    width: 100%;
    justify-content: center;
  }
  #home-grid #column-align #main-photo img {
    display: flex;
    width: 98%;
  }
  #home-grid #column-align #section-2 {
    display: flex;
    height: 33%;
    width: 100%;
  }
  #home-grid #column-align #section-2 .photo-row {
    display: flex;
    width: 100%;
  }
  #home-grid #column-align #section-2 .photo-row .photo-row-img {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 98%;
  }
  #home-grid #column-align #section-2 .photo-row .photo-row-img img {
    width: 98%;
  }
  #home-grid #column-align #section-2 .long-photo-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  #home-grid #column-align #section-2 .long-photo-row .long-photo-row-img {
    display: flex;
    width: 78%;
  }
  #home-grid #column-align #section-2 .long-photo-row .long-photo-row-img-sm {
    display: flex;
    width: 20%;
  }
}