#band-logo {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
}
#band-logo img {
  display: flex;
  width: 100%;
}

/*********************************** Mobile Views - Styles ***********************************/
@media screen and (max-width: 768px) {
  #band-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
  }
  #band-logo img {
    display: flex;
    width: 50%;
    height: 100%;
  }
}