#navbar {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 18%;
    //border:solid purple 2px;
    // total height percentage is 26%

    #links-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 75%;
    }

    #socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 20%;
        //    border:solid red 1px;
    }
}

@media screen and (max-width: 768px) {
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 15%;
        margin-top: 5px;

        //border:solid purple 2px;

        #links-menu{
           // border: solid red 1px;
            flex-direction: column;
            height: 50%;
            .hyper-link{
                display: none  ;
            }
        }

        #socials {
            margin-top:2%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 25%;
        }
    }

  
}