html {
  display: flex;
  height: 98%; // Will eliminate the scroll bar
  width: 100%;
  background-image: url('../src/assets/textures/paper-texture.jpg');
  background-color: #efaf4d;

  background-repeat: repeat;
  background-blend-mode: multiply;
    
  
  body {
      display: flex;
      height: 100%;
      width: 99%;
      flex-direction: column;

      #root {
          display: flex;
          height: 100%;
          width: 100%;
      }
  }
}


