html {
  display: flex;
  height: 98%;
  width: 100%;
  background-color: #efaf4d;
  background-repeat: repeat;
}
html body {
  display: flex;
  height: 100%;
  width: 99%;
  flex-direction: column;
}
html body #root {
  display: flex;
  height: 100%;
  width: 100%;
}