html {
  display: flex;
  height: 98%;
  width: 100%;
  background-image: url("../src/assets/textures/paper-texture.jpg");
  background-color: #efaf4d;
  background-repeat: repeat;
  background-blend-mode: multiply;
}
html body {
  display: flex;
  height: 100%;
  width: 99%;
  flex-direction: column;
}
html body #root {
  display: flex;
  height: 100%;
  width: 100%;
}